{%extends 'base.html'%}
<!--left content-->
{%block left_content%}

<div class="left-section mt-5">
    <div class="card border-0" style="width: rem;">
        <div class="profile-pic">
            <img class=" mx-auto d-block  mt-5" style="width: 40%;border-radius: 50%;"
                 src="{{request.user.users.profile_pic.url}}" alt="">
        </div>
        <ul class="list-group border-0 list-group-flush">
            <li class="blank" style="list-style: none;color: white;"></li>
            <li class="list-group-item">
                <h4 class="text-center ">{{request.user}}</h4>
                <p class="text-center ">Photographer </p>
            </li>
            <li class="list-group-item">
                <h5 class="text-secondary">Following</h5>
                <p class="fs-5">45</p>
            </li>
            <li class="list-group-item">
                <h5 class="text-secondary">Followers</h5>
                <p class="fs-5">34 </p>
            </li>
            <li class="list-group-item">
                <a href="{%url 'viewprofile'%}" style="color: #e44d3a;">Viewprofile</a>
            </li>
        </ul>
    </div>
</div>
{%endblock%}

{%block body_block%}
<!--post box-->
<div class="middle-section bg-white border border-1 mt-5">
    <div class="bkg-line"></div>
    <form class="mt-2" action="" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <h6 class="text-center text-secondary">Write a Blog</h6>
        <hr>
        <div class="mt-3 ms-3">
            <input class="form-control" type="text" name="title" id="id_title"
                   style="width: 90%;border: 1px solid #857f7e78;"
                   placeholder="Title">
        </div>

        <div class="mt-3 ms-3">
            <input class="form-control" name="image" id="id_image" style="width: 90%;border: 1px solid #857f7e78;"
                   type="file">
        </div>
        <div class="mt-3 ms-3">
                            <textarea class="" style="width: 90%;border: 1px solid #857f7e78;"
                                      placeholder="Write your Post" name="description" id="id_description" cols="56"
                                      rows="5"></textarea>
        </div>

        <div class="text-end">
            <button class=" mt-3 me-5">Publish</button>
        </div>
    </form>
    <div class="bkg-line mt-3"></div>
</div>

<!--blog posts-->
{%for blog in blogs%}
<div class="gedf-main mt-4">
    <div class="card">
        <div class="ms-2 me-2 mt-2">

            <img src="" class="" alt="..."
                 style="width:10%;height:100%;border-radius:50%;">
            <span class="fw-bold fs-5 blogdes">{{blog.author}}</span>

            <p class="text-secondary">Published: {{blog.posted_date}}</p>
            <h4 class="card-header  mt-3">{{blog.title}}</h4>
            {%if blog.image%}
            <img src="{{blog.image.url}}" class="img-fluid" alt="">
            <p class="">{{blog.description}}</p>
            <!--            <p class="card-body">posted by {{blog.author}}</p>-->

            <form class="card-body" action="{%url 'add-comment' blog.id%}" method="post">
                {%csrf_token%}
                {{comment_form.as_p}}
                <input type="submit" class="">
            </form>
            {%endif%}

            {%for comment in blog.comments_set.all%}
            <p>
                {{comment.user}}

            </p>
            <p>
                {{comment.comment}}
            </p>
            {%endfor%}
            <a href="{%url 'add-like' blog.id%}">Like</a>
            {{blog.get_like_count}}
            {%for liked in blog.get_liked_users%}
            {{liked}},
            {%endfor%}
        </div>
    </div>
</div>
{%endfor%}

{%endblock%}
<!--blog.comments_set.all()-->