<div style="background: #ebebebd6;" class="mt-5 border border-1">
    <div class="container">
        <div class="row">
            <!--contents left-section -->
            <div class="col-lg-3">
                <div class="left-section mt-5">
                    <div class="card border-0" style="width: rem;">
                        <div class="profile-pic">
                            <img class="rounded mx-auto d-block  mt-5" style="width: 40%;"
                                src="{{request.user.users.profile_pic.url}}" alt="">
                        </div>
                        <ul class="list-group border-0 list-group-flush">
                            <li class="blank" style="list-style: none;color: white;"></li>
                            <li class="list-group-item">
                                <h4 class="text-center ">{{request.user}}</h4>
                                <p class="text-center ">Photographer </p>
                            </li>
                            <li class="list-group-item">
                                <h5 class="text-secondary">Following</h5>
                                <p class="fs-5">45</p>
                            </li>
                            <li class="list-group-item">
                                <h5 class="text-secondary">Followers</h5>
                                <p class="fs-5">34 </p>
                            </li>
                            <li class="list-group-item">
                                <a href="{%url 'viewprofile'%}" style="color: #e44d3a;">Viewprofile</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <!--Middle  post box-->
                <div class="middle-section bg-white border border-1 mt-5">
                    <div class="bkg-line"></div>
                    <form class="mt-2" action="" method="post" enctype="multipart/form-data">
                        <h6 class="text-center text-secondary">Write a Blog</h6>
                        <hr>
                        <div class="mt-3 ms-3">
                            <input class="form-control" type="text" name="title" id="id_title" style="width: 90%;border: 1px solid #857f7e78;"
                                placeholder="Title">


                            <!-- <i class="fa-solid fa-image"></i> -->
                        </div>

                        <div class="mt-3 ms-3">
                            <input class="form-control" name="image" id="id_image" style="width: 90%;border: 1px solid #857f7e78;" type="file">
                        </div>
                        <div class="mt-3 ms-3">
                            <textarea class="" style="width: 90%;border: 1px solid #857f7e78;"
                                placeholder="Write your Post" name="description" id="id_description" cols="56" rows="5"></textarea>
                        </div>

                        <div class="text-end">
                            <button class=" mt-3 me-5">Publish</button>
                        </div>
                    </form>
                    <div class="bkg-line mt-3"></div>
                </div>
                <!-- posts -->
                {%for blog in blogs%}
                <div class="mt-5 border border-1  posts bg-white">
                    <div class=" ">
                        <div class="card border-0 ms-4 me-2">
                            <div class="mt-3 ms-3">
                                <img class="" style="border-radius: 50%;height:3rem;width: 11%;"
                                    src="best_photo_poses_for_men-1.jpg" alt="">
                                <span class="fs-5">{{blog.author}}
                                </span>
                                <p class="text-secondary">Published : {{blog.posted_date}}</p>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"> {{blog.title}}</h5>
                            </div>
                            {%if blog.image%}
                            <img src="{{blog.image.url}}" style="width: 96%;" class="img-fluid"
                                alt="...">
                                {%endif%}
                            <div class="card-body">
                                <p class="card-text">{{blog.description}}</p>
                            </div>
                            <!-- like & comment -->
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"></li>
                                <!-- like -->
                                
                                <li class="list-group-item">
                                    
                                    <a href="{%url 'add-like' blog.id%}" style="text-decoration: none;"><i class="fa-solid fa-thumbs-up"
                                            style="color: #e44d3a;"></i>
                                        <span class="text-secondary">{{blog.get_like_count}}</span>
                                    </a>{%for liked in blog.get_liked_users%}
                                    {{liked}},
                                    {%endfor%}
                                    <a class="ms-4" href="" style="text-decoration: none;"><i
                                            class="fa-solid fa-comment" style="color: #e44d3a;"></i>
                                        <span class="text-secondary">84</span>
                                    </a>
                                    <div class="mt-4">
                                        <!-- write comment -->
                                        <form class="form" action="{%url 'add-comment' blog.id%}" method="post">
                                            {%csrf_token%}
                                            <div class="d-flex flex-row mb-3">

                                                <input class="form-control" type="text"
                                                    placeholder="Write a comment">

                                                <div class="send-com">
                                                    <button class="border-0"><i class="fa-solid fa-paper-plane"
                                                            style="color: #e44d3a;"></i></button>
                                                </div>
                                            </div>


                                        </form>
                                    </div>
                            <!--view comment -->
                            {%for comment in blog.comments_set.all%}
                                    <div class="pt-3" style="background-color: #e7e7e778;border-radius: 6%;">
                                        <img class="ms-3 mb-2" style="border-radius: 50%;height:1.6rem;width: 6%;"
                                            src="best_photo_poses_for_men-1.jpg" alt="">
                                        <span class="fs-5">{{comment.user}}</span>
                                        <p class="card-text ms-3 me-2 mt-2 text-secondary">{{comment.comment}}</p>
                                    </div>
                                    {%endfor%}
                                </li>
                                <li class="list-group-item"></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
{%endfor%}



            <div class="col-lg-3">
                <div class="middle-section bg-white  mt-5">
                    <div class="card mt-4 border-0">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Suggestions</li>
                            <!-- <li class="list-group-item">A second item</li>
                      <li class="list-group-item">A third item</li> -->
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
